# Environment variables
.env
.idea/
profiles
tests
user-data-dir

# Node modules
node_modules/

# Storage data
storage/

# Camoufox data
data/

# Engines data
engines/data*/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo
